{% extends '_layouts/layout_main' %}

{% set body_class = 'page-home' %}

{% block content %}
  {# {% include '_pages/home/home_example' %} #}

  <section class="l-section">
  <div class="container">

    <h1>Welcome to the ixlab.</h1>
    

  </div>
  </section>
{% endblock %}