{# People index page, should be a 'single' section #}

{% extends '_layouts/layout_main' %}

{% set body_class = 'page-people' %}
{% set title = "People - ixLab" %}

{% block content %}

  <div class="container">
    <div class="columns">
      {% for person in craft.entries.section('people').all() %}
      <div class="column is-primary is-parent is-4">
        <div class="box is-child is-centered">
          
          <a href="{{ person.website }}"><h2 class="title is-size-4 has-text-centered">{{ person.title }}</h2></a>
          
          <figure class="image is-128x128 is-centered">
            <img class="is-rounded" src="{{ person.profileImage.one().getUrl() }}">
          </figure>

          <p>{{ person.bio }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}