{# Research index page, should be a 'single' section #}


{% extends '_layouts/layout_main' %}

{% set body_class = 'page-research' %}
{% set title = "Research - ixLab" %}

{% block content %}

  <div class="container">
    Umbrella page for featured research projects, will highlight and link to individual research projects.
  </div>

{% endblock %}