{% extends '_layouts/layout_main' %}

{% block content %}


<div class="container">
  <h1 class="title">
    {{ entry.title }}
  </h1>
  
  <p class="heading">{{ entry.date | date('M, d Y') }}</p>
  
  <p>{{ entry.body }}</p>

</div>

{% endblock %}