// widths
$external_container_width: 2100px;
$mobile_container: 600px;
$breakpoint-small: 700px;

// colors
$external_container_background: white;
$main_background: white;


/* UIkit variable overrides */
/* for reference: https://github.com/uikit/uikit/blob/develop/src/scss/variables.scss */

// typography
$global-font-family: "Noto Sans", sans-serif;
$base-heading-font-family: "Nunito", sans-serif;
$base-heading-font-weight: "Bold";

// colors
$global-color: #666;
$global-primary-background: #FCBA03;
$global-secondary-background: #FFCCA0;
$global-muted-background: #FFE4CC;
// $global-link-color: #FCBA03;
$black: #000;
$bright_grey: rgb(242, 241, 241);
$offset_color: #FCBA03;

//NavBar
$navbar-nav-item-font-family: $base-heading-font-family;

//Buttons
$button-default-background: $offset_color;
$button-default-hover-background: $global-secondary-background;
$button-primary-color: $black;

//Cards
$card-default-background: #FFF9F2;

//Pills
$subnav-pill-item-active-color: $black;
$subnav-pill-item-active-background: $offset_color;
$subnav-pill-item-hover-background: $global-secondary-background;
