// widths
$external_container_width: 2100px;
$mobile_container: 600px;

// colors
$external_container_background: white;
$main_background: white;


/* UIkit variable overrides */
/* for reference: https://github.com/uikit/uikit/blob/develop/src/scss/variables.scss */

// typography
$global-font-family: "Noto Sans", sans-serif;
$base-heading-font-family: "Barlow Condensed", serif;

// colors
$global_primary_background: #FF9955;
$bright_grey: rgb(242, 241, 241);
$offset_color: rgb(255, 228, 204);

$breakpoint-small: 700px;