// styles for homepage


#heroImage {
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  margin-top: 20px;
}

#aboutText {
  line-height: 1.6rem;
}
