// styles for homepage


#heroImage {
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

#recruitBox .uk-card {
  background-color: $bright_grey;
}

#aboutText {
  line-height: 1.6rem;
}

.uk-container {
  // testing
  // background-color: #ffd4d4;
}

.section-header {
  // text-transform: uppercase;
  font-weight: 300;
}