{% block footer %}
  <footer class="hero">
    <div class="hero-body container">
      <div class="columns">
        <div class="column is-3">
          <a href="{{ siteUrl }}"><img src="{{ alias('@assetUrl/img/siteAssets/ixlab.svg') }}" width="300" height="125" alt="ixLab"></a>
        </div>
        <div class="column is-3">
          <p>
            TASC 1 9200<br>8888 University Dr,<br>Burnaby, BC V5A 1S6
          </p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}