{% block footer %}
  <footer class="uk-margin-large-top">
    <div class="uk-container uk-padding">
      <div uk-grid class="uk-flex uk-flex-middle">
        <div>
          <a href="{{ siteUrl }}"><img src="{{ alias('@assetUrl/img/siteAssets/ixlab.svg') }}" width="300" height="125" alt="ixLab"></a>
        </div>
        <div>
          <p>School of Computing Science<br>
            Simon Fraser University<br>
            8888 University Dr,<br>
            Burnaby, BC V5A 1S6</p>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}