{# Course index page, should be a 'single' section #}

{% extends '_layouts/layout_main' %}

{% set body_class = 'page-courses' %}
{% set title = "Courses - ixLab" %}

{% block content %}

<div class="container">
  course index page
</div>

{% endblock %}