/* Use this file for Global components like headers and footers
  If a component gets messy, split off into own scss files in /components and import it
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* NAVBAR */

.uk-active {
  font-weight: 700;
}
@media (min-width: 960px) {
  .uk-navbar-nav li {
    padding: 0 20px;
  }
}



/* FOOTER */

footer {
  background-color: #d5d5d5;
}