/* Use this file for Global components like headers and footers
  If a component gets messy, split off into own scss files in /components and import it
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/* NAVBAR */

.uk-navbar {
  padding: 25px 0;
}

.uk-navbar-nav .uk-active {
  font-weight: 700;
  background-color: $offset_color;
}
.uk-navbar-nav li a{
  font-size: 1rem;
  min-height: 50px;
}
.uk-navbar-nav li:hover{
  background-color: $offset_color;
}

@media (max-width: 760px) {
  .uk-navbar-nav li a{
    padding: 0 10px;
  }
}

@media (min-width: 960px) {
  .uk-navbar-nav li {
    padding: 0 15px;
  }
}

@media (min-width: 1200px) {
  .uk-navbar-nav li {
    padding: 0 20px;
  }
}

/* SUBNAV */
.uk-subnav{
  font-family: "Nunito";
}

.uk-subnav .uk-active {
  font-weight: 700;
}

/* BUTTON */
.uk-button{
  font-family: "Nunito";
  font-weight: bold;
  letter-spacing: .2em;
}

/* NEWS DROPDOWN */
.uk-dropdown{
  background-color: $global-secondary-background;
}


/* FOOTER */

footer {
  background-color: $offset_color;
}

/* full width header */

.fw-header {
  background-color: $offset_color;
}