/* Use this file for Global components like headers and footers */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

a {
  color: $global-link-color;
  // text-decoration: underline;
}


/* NAVBAR */

.uk-navbar {
  padding: 25px 0;
}

.uk-navbar-nav .uk-active {
  color: #000;
  font-weight: 700;
}
.uk-navbar-nav li a {
  color: #666;
  min-height: 50px;
  font-size: 1rem;
}
.uk-navbar-nav li:hover {
  text-decoration: underline;
}

@media (max-width: $breakpoint-small) {
  .uk-navbar {
    padding: 0;
  }
}
@media (max-width: 760px) {
  .uk-navbar-nav li a{
    padding: 0 10px;
  }
}
@media (min-width: 960px) {
  .uk-navbar-nav li {
    padding: 0 15px;
  }
}
@media (min-width: 1200px) {
  .uk-navbar-nav li {
    padding: 0 20px;
  }
}

.uk-offcanvas-bar a {
  color: #666;
}
.uk-nav .uk-active {
  font-weight: 700;
  text-decoration: underline;
}


/* SUBNAV */
.uk-subnav{
  font-family: "Nunito";
}
.uk-subnav .uk-active {
  font-weight: 700;
}

/* BUTTON */
.uk-button{
  background-color: white;
  font-family: "Nunito";
  font-weight: bold;
  letter-spacing: .1em;
}
.cta-button {
  border: solid 3px $offset_color;
  border-radius: 15px;
  letter-spacing: 0;
}
.cta-button:hover {
  background-color: $offset_color;
  color: #666;
}


/* HEADER */
header {
  border-bottom: solid 3px $offset_color;
}


/* FOOTER */
footer {
  border-top: solid 3px $offset_color;
}

/* full width header */
.fw-header {
  background-color: $offset_color;
}

.thumbnailImage {
  border: 1px solid rgba(204, 204, 204, 0.5);
}

// use this class to separate main h1 of the page from the header
.page-header {
  margin-top: 1.5rem;
}

