{% extends '_layouts/layout_main' %}

{% set body_class = 'page-publications' %}
{% set title = "Publications - ixLab" %}

{% block content %}

<div class="container">

  <p>Publications Page: todo</p>


  </div>
{% endblock %}