{% extends '_layouts/layout_main' %}

{% set body_class = 'page-affiliations' %}
{% set title = "Affiliations - ixLab" %}

{% block content %}

<div class="fw-header uk-padding uk-margin-large">
  <div class="uk-container">
    <h2 class="uk-text-center">Affiliations</h2>
  </div>
</div>

<div class="uk-container">
  {{ entry.affiliationText }}
</div> 

{% endblock %}