{% extends '_layouts/layout_main' %}

{% set body_class = 'page-affiliations' %}
{% set title = "Affiliations" %}

{% block content %}

<div class="uk-padding uk-margin">
  <div class="uk-container">
    <h1 class="page-header uk-heading-medium">Affiliations</h1>
  </div>
</div>

<div class="uk-container">
  {{ entry.affiliationText }}
  
</div>




{% endblock %}
