
@media (max-width: $breakpoint-medium) {

  #sheelaghCard {
    order: 1;
  }
  
  #sheelaghStudents {
    order: 2;
  }

  #sheelaghAlumni {
    order: 3;
  }

  #parmitCard {
    order: 4;
  }

  #parmitStudents {
    order: 5;
  }

  #parmitAlumni {
    order: 6;
  }
}
